@import '../variables.less';

.page {
    padding: 30px @page-horizontal-padding;
    display: flex;

    .page-body {
        display: flex;
        flex-direction: column;
        flex-basis: 80%;
        padding: 150px 20px 0px 20px;

        font-size: @font-size-body;

        .page-content {
        }

        .maps {
            display: flex;
            min-width: calc(100% * 80% * 50%);
            align-items: center;
            justify-content: space-between;

            .map-static,
            .map-embed {
                padding: 10px;
            }

            .map-static {
                border: 1px black solid;
                img {
                    width: 100%;
                    height: auto; }
            }
        }
    }

    .page-nav {
        flex-grow: 1;
        text-align: right;
        padding-top: 240px;

        .page-nav-wrapper {
            //position: fixed;
            top: 0;
            padding-left: 15px;

            .page-nav-content {
                display: flex;
                flex-direction: column;

                .page-title {
                    font-size: @font-size-page-nav-header;
                    align-self: center;
                    padding-top: 10px;
                }

                .page-categories {

                }

                .list-group-item {
                    font-weight: bold;
                }

                .list-group-item.active {
                    background-color: #3a4928;
                    border-color: #3a4928;
                }

            }
        }
    }

    .primary-image {
        padding-bottom: 30px;

        .card {
            margin-left: -@page-horizontal-padding;
            border-radius: 0px 0.25rem 0.25rem 0px;
            box-shadow: 1px 1px 6px @shadow-color;

            img {
                width: 100%;
                box-shadow: 1px 1px 6px @shadow-color;
                margin-bottom: 15px;
            }

            .card-text {
                font-size: 20px;
            }

        }

    }

}