@import '../variables.less';

.page {
    padding: 30px @page-horizontal-padding;
    display: flex;

    .page-body {
        display: flex;
        flex-direction: column;
        padding-top: 150px;

        font-size: @font-size-body;

        .page-content {
        }

        .maps {
            display: flex;
            min-width: calc(100% * 80% * 50%);
            align-items: center;
            justify-content: space-between;

            .map-static,
            .map-embed {
                padding: 10px;
            }

            .map-static {
                border: 1px black solid;
                img {
                    width: 100%;
                    height: auto; }
            }
        }
    }

    .primary-image {
        padding-bottom: 30px;

        .card {
            margin-left: -@page-horizontal-padding;
            border-radius: 0px 0.25rem 0.25rem 0px;
            box-shadow: 1px 1px 6px @shadow-color;

            img {
                width: 100%;
                box-shadow: 1px 1px 6px @shadow-color;
                margin-bottom: 15px;
            }

            .card-text {
                font-size: 20px;
            }

        }

    }

}