
// https://www.campcedarwood.com/about-summer.html
// https://immanuellutheranchicago.org/reconciling-in-christ/

// #### ---------- Colors

// grosse-lanterne
@gl-blue: #05386b;
@gl-green-3: #379683;
@gl-green-2: #5cdb95;
@gl-green-1: #8ee4af;
@gl-white: #edf5e1;

// nurture-digital
@nd-black: #182628;
@nd-green-1: #65ccb8;
@nd-green-2: #57ba98;
@nd-green-3: #3b945e;
@nd-white: #f2f2f2;

@off-white: #f9f9f9;
@light-gray: #dedede;
@lighter-gray: #efefef;

@light-green: #4b6b3c;
@dark-green-3: #3a4928;
@brown: #3b2e1e;
@dark-beige: #907a48;
@medium-beige: #d4bf88;
@light-beige: #e6deb9;

@dark-green-2: #63786e;
@medium-green-2: #99bd98;
@light-green-2: #e8f0a5;
@brown-2: #6b615a;
@blue-2: #7fe0ee;

// logo card color
@dark-green: #005b28;
@muted-black: #282d33;

// bordel-studio
@bs-brown-3: #5d5c61;
@bs-brown-2: #938D94;
@bs-blue-1: #7395ae;
@bs-blue-2: #557a95;
@bs-brown-1: #b1a296;

@dark-green-2: #63786e;


//
@cp-blue-2: #173042;
@cp-blue-1: #236477;
@cp-white: #cfdfda;
@cp-green-1: #7cad3e;
@cp-green-2: #4a6c2f;

@page-background-color: @cp-white;
@header-background-color:@bs-blue-1;
@header-menu-color: @dark-green-2;
//@header-menu-button-color: white;
@shadow-color: #000000;
@carousel-color: #212529;

// #### ---------- Sizes

@font-size-header-menu: 16px;
@font-size-header-subcategory: 16px;
@font-size-page-nav-header: 36px;
@font-size-page-nav-category: 30px;
@font-size-body: 20px;

@logo-size: 120px;
@header-height-lv: 144px;
@min-page-size: 1000px;
@header-button-padding: 8px;
@header-button-min-width: 141px;

// #### ---------- Spacing

@header-menu-padding: 15px;
@page-horizontal-padding: 15px;

